@model dynamic

@{
    ViewBag.Title = "Bootstrap Responsive Image Replacement";
}

<div class="container">

    <h2>Bootstrap Responsive Image Replacement</h2>

    <div class="row">
        <div class="col-md-12">
            <ul data-action="brir">
                <li>
                    <img data-xs-scr="http://img1.carland.com/images/1/236778/10/1-Front-PORSCHE-911-05-08-2014.jpg" data-xs-width="10"
                         data-sm-scr="http://img1.carland.com/images/1/236778/50/1-Front-PORSCHE-911-05-08-2014.jpg" data-sm-width="50"
                         data-md-scr="http://img1.carland.com/images/1/236778/1469/1-Front-PORSCHE-911-05-08-2014.jpg" data-md-width="1469"
                         data-lg-scr="http://img1.carland.com/images/1/236778/863/1-Front-PORSCHE-911-05-08-2014.jpg" data-lg-width="863"
                         src="" width="100" alt="demo image1" class="img-responsive" />
                </li>

                <li>
                    <img data-xs-scr="http://img1.carland.com/images/1/209010/400/1-Front-AUDI-R8-07-08-2014.jpg" data-xs-width="400"
                         data-sm-scr="http://img1.carland.com/images/1/209010/120/1-Front-AUDI-R8-07-08-2014.jpg" data-sm-width="120"
                         data-md-scr="http://img1.carland.com/images/1/209010/869/1-Front-AUDI-R8-07-08-2014.jpg" data-md-width="869"
                         data-lg-scr="http://img1.carland.com/images/1/209010/263/1-Front-AUDI-R8-07-08-2014.jpg" data-lg-width="263"
                         src="" width="100" alt="demo image2" class="img-responsive" />
                </li>
            </ul>
        </div>
    </div>
</div>

