@model dynamic

@{
    ViewBag.Title = "Bootstrap Responsive Image Replacement";
}

<div class="container">

    <h2>Bootstrap Responsive Image Replacement</h2>

    <div class="row">
        <div class="col-md-12">
            <ul data-action="brir">
                <li>
                    <img data-xs-scr="http://img1.carland.com/images/1/236778/200/1-Front-PORSCHE-911-05-08-2014.jpg" data-xs-width="200"
                         data-sm-scr="http://img1.carland.com/images/1/236778/320/1-Front-PORSCHE-911-05-08-2014.jpg" data-sm-width="320"
                         data-md-scr="http://img1.carland.com/images/1/236778/469/1-Front-PORSCHE-911-05-08-2014.jpg" data-md-width="469"
                         data-lg-scr="http://img1.carland.com/images/1/236778/663/1-Front-PORSCHE-911-05-08-2014.jpg" data-lg-width="663"
                         src="" width="100" alt="demo image1" class="img-responsive" />
                </li>

                <li>
                    <img data-xs-scr="http://img1.carland.com/images/1/209010/200/1-Front-AUDI-R8-07-08-2014.jpg" data-xs-width="200"
                         data-sm-scr="http://img1.carland.com/images/1/209010/320/1-Front-AUDI-R8-07-08-2014.jpg" data-sm-width="120"
                         data-md-scr="http://img1.carland.com/images/1/209010/469/1-Front-AUDI-R8-07-08-2014.jpg" data-md-width="869"
                         data-lg-scr="http://img1.carland.com/images/1/209010/653/1-Front-AUDI-R8-07-08-2014.jpg" data-lg-width="263"
                         src="" width="100" alt="demo image2" class="img-responsive" />
                </li>
            </ul>
        </div>
    </div>
</div>

